<!-- <h1>Music Player</h1> -->
<div class="main">
  <div class="header">
    <div class="logo">
      <span>Santanu Mudi</span>
    </div>
    <div class="list">
      <li (click)="scroll(home)">Home</li>
      <li (click)="scroll(about)">About</li>
      <li (click)="scroll(skills)">Skills</li>
      <li (click)="scroll(projects)">Projects</li>
      <li (click)="scroll(contact)">Contact</li>
    </div>
  </div>

  <div #home class="home">
    <div class="img-area">
      <img src="./assets/ProfilePic.jpeg" alt="" />
    </div>
    <div class="headline">
      <h2>Hi, I'm Santanu Mudi</h2>
      <p>I'm Java Backend Developer</p>
      <p>
        Always enthusiastic to learn and would love to work on new technologies.
      </p>
    </div>
  </div>
  <div #about class="about">
    <h2>All About Me</h2>
    <div class="gif-area">
      <img src="./assets/Gif1.gif" alt="" />
    </div>
    <p>
      Experienced Java Backend Developer with 2+ years of expertise in designing
      and implementing REST APIs. Proven track record in creating reliable and
      scalable solutions, backed by solid knowledge of Data Structures and
      Algorithms. Proficient in JUnit and Mockito for rigorous testing.
      Passionate about staying updated on industry trends and implementing
      innovative concepts. Eager to contribute to dynamic projects with a focus
      on efficiency and quality.
    </p>
    <div class="about-list">
      <ul>
        <li>Coding</li>
        <li>DSA</li>
        <li>Soft Skills</li>
      </ul>
      <!-- <ul>
        <li>1200+ hrs</li>
        <li>700+ Que</li>
        <li>100+ hrs</li>
      </ul> -->
    </div>
  </div>
  <div #skills class="skills">
    <h2>Tech Stack</h2>
    <div class="skills-grid">
      <div class="grid-item">
        <img src="/assets/java.png" alt="" />
        <p>Java</p>
      </div>
      <div class="grid-item">
        <img src="/assets/spring-boot.png" alt="" />
        <p>Spring Boot</p>
      </div>
      <div class="grid-item">
        <img src="/assets/hibernate.png" alt="" />
        <p>Hibernate</p>
      </div>
      <div class="grid-item">
        <img src="/assets/mysql.png" alt="" />
        <p>MySql</p>
      </div>
      <div class="grid-item">
        <img src="/assets/maven.png" alt="" />
        <p>Maven</p>
      </div>
      
      <div class="grid-item">
        <img src="/assets/eclipse.png" alt="" />
        <p>Eclipse</p>
      </div>
      <div class="grid-item">
        <img src="/assets/vscode.png" alt="" />
        <p>VS Code</p>
      </div>
      <div class="grid-item">
        <img src="/assets/html.png" alt="" />
        <p>HTML</p>
      </div>
      <div class="grid-item">
        <img src="/assets/css.png" alt="" />
        <p>CSS</p>
      </div>
      <div class="grid-item">
        <img src="/assets/angular.png" alt="" />
        <p>Angular</p>
      </div>
      <div class="grid-item">
        <img src="/assets/git.png" alt="" />
        <p>Git</p>
      </div>
      <div class="grid-item">
        <img src="/assets/rest.png" alt="" />
        <p>REST</p>
      </div>
    </div>
  </div>
  <div #projects class="projects">
    <h2>Projects</h2>
  </div>
  <div #contact class="contact">
    <h2>Contacts</h2>
    <p>Get In Touch With Me</p>
    <div class="my-details">
      <p>Santanu Mudi</p>
      <p>+919064020193</p>
      <p>santanumudi8@gmail.com</p>
      <p>Bankura, West Bengal</p>
    </div>
  </div>

  <div class="footer"></div>
</div>
